<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/nhanne/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="nhanne" />
			<add key="Password" value="AAAAC3NzaC1lZDI1NTE5AAAAICAkvGt+hhXEmvbVNu6hy5ne4+hPPNIZ0Cpm9bPGn5Jx --" />
		</github>
	</packageSourceCredentials>
</configuration>