<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/nhanne/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="nhanne" />
			<add key="Password" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>