<configuration>
	<packageSources>
		<add key="github" value="https://nuget.pkg.github.com/nhanne/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="NUGET_USERNAME" />
			<add key="Password" value="NUGET_PASSWORD" />
		</github>
	</packageSourceCredentials>
</configuration>